{% extends 'base.html' %}
{% block body_block %}
<title>Registration</title>


<h3 class="text-info fw-bold p-2 rounded">Registration Form</h3>
{% if registered %}
<div class="alert alert-primary">Registration Successful!</div> 
    Click on Login>>> <br>
    You can Login Now by username and password....

{% else %}
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ user_info_form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endif %}
{% endblock %}